loading data into pandas

In [5]:
import pandas as pd

#df for data frame
#csv
df = pd.read_csv('E:\Python\machine_learning_preparation\pandas_tutorial\data\pokemon_data.csv')
#xlsx
df_xlsx = pd.read_excel('E:\Python\machine_learning_preparation\pandas_tutorial\data\pokemon_data.xlsx')
#txt
df_txt = pd.read_csv('E:\Python\machine_learning_preparation\pandas_tutorial\data\pokemon_data.txt', delimiter='\t')

print(df_txt.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

reading data in pandas

In [7]:
## read header
print(df.columns)

print("------------------------------------------------------------------")

##read each column
print(df['Name'][0:5])

print("------------------------------------------------------------------")

print(df[['Name', 'Type 1', 'HP']][0:5])

print("------------------------------------------------------------------")

##read each row
print(df.head(4))

print("------------------------------------------------------------------")

print(df.iloc[0:5])

print("------------------------------------------------------------------")

# for index, row in df.iterrows():
#     print(index, row)
#terlalu panjang, tapi bagus

print(df.loc[df['Type 1'] == "Fire"][0:7])

print("------------------------------------------------------------------")
##read a specific location (r, c)
print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
------------------------------------------------------------------
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object
------------------------------------------------------------------
                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39
------------------------------------------------------------------
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
------------------------------------------------------------------
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
------------------------------------------------------------------
     #                       Name Type 1  Type 2  HP  Attack  Defense  \
4    4                 Charmander   Fire     NaN  39      52       43
5    5                 Charmeleon   Fire     NaN  58      64       58
6    6                  Charizard   Fire  Flying  78      84       78
7    6  CharizardMega Charizard X   Fire  Dragon  78     130      111
8    6  CharizardMega Charizard Y   Fire  Flying  78     104       78
42  37                     Vulpix   Fire     NaN  38      41       40
43  38                  Ninetales   Fire     NaN  73      76       75

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
42       50       65     65           1      False
43       81      100    100           1      False
------------------------------------------------------------------
Venusaur

sorting / describing data

In [8]:
sort_val1 = df.sort_values(['Type 1', 'HP'], ascending=True)[0:5]
sort_val2 = df.sort_values('Name', ascending=False)

print(sort_val1)

print("------------------------------------------------------------------")

print(sort_val2[0:5])

       #      Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
316  292  Shedinja    Bug   Ghost   1      90       45       30       30
230  213   Shuckle    Bug    Rock  20      10      230       10      230
462  415    Combee    Bug  Flying  30      30       42       30       42
603  543  Venipede    Bug  Poison  30      45       59       30       39
314  290   Nincada    Bug  Ground  31      45       90       30       30

     Speed  Generation  Legendary
316     40           3      False
230      5           2      False
462     70           4      False
603     57           5      False
314     40           3      False
------------------------------------------------------------------
       #              Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
794  718  Zygarde50% Forme  Dragon  Ground  108     100      121       81
695  634          Zweilous    Dark  Dragon   72      85       70       65
46    41             Zubat  Poison  Flying   40      45       35       30
631  570             Zorua    Dark     NaN   40      65       40       80
632  571           Zoroark    Dark     NaN   60     105       60      120

     Sp. Def  Speed  Generation  Legendary
794       95     95           6       True
695       70     58           5      False
46        40     55           1      False
631       40     65           5      False
632       60    105           5      False

making changes to the data

In [31]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

print(f'sesudah ditambahkan column Total: \n{df.head(5)}')

# df_new = df.drop(columns=['Total']) #menghapus column

# print(f"sesudah dihapus:\n{df_new.head(5)}")

df['Total 2'] = df.iloc[:, 4:10].sum(axis=1)
print(f"sesudah ditambah column Total 2:\n{df.head(5)}")

#rearrange
cols = list(df.columns)
df_new_cols = df[cols[0:4]+[cols[-1]]+[cols[-2]]+cols[4:12]][0:5]

print("-------------------------------------------------------------------")

print(df_new_cols)

sesudah ditambahkan column Total:
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total  Total 2
0       65     45           1      False    318      318
1       80     60           1      False    405      405
2      100     80           1      False    525      525
3      120     80           1      False    625      625
4       50     65           1      False    309      309
sesudah ditambah column Total 2:
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total  Total 2
0       65     45           1      False    318      318
1       80     60           1      False    405      405
2      100     80           1      False    525      525
3      120     80           1      False    625      625
4       50     65           1      False    309      309
-------------------------------------------------------------------
   #                   Name Type 1  Type 2  Total 2  Total  HP  Attack  \
0  1              Bulbasaur  Grass  Poison      318    318  45      49
1  2                Ivysaur  Grass  Poison      405    405  60      62
2  3               Venusaur  Grass  Poison      525    525  80      82
3  3  VenusaurMega Venusaur  Grass  Poison      625    625  80     100
4  4             Charmander   Fire     NaN      309    309  39      52

   Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       49       65       65     45           1      False
1       63       80       80     60           1      False
2       83      100      100     80           1      False
3      123      122      120     80           1      False
4       43       60       50     65           1      False

saving data

In [39]:
df.to_csv('.\saved_data\modified.csv', index=False) #save data to csv
df.to_excel('.\saved_data\modified.xlsx', index=False) #save data to excel
df.to_csv('.\saved_data\modified.txt', index=False, sep='\t') #save data to txt

filtering data

In [53]:
df_filter1 = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP']>70)]

df_filter1.to_csv('.\saved_data\df_filter1.csv') #using old index
df_filter1.to_csv('.\saved_data\df_filter2.csv', index=False) #doesnt using index

df_filter1.reset_index(drop=True, inplace=True) #give new index

df_filter1.to_csv('.\saved_data\df_filter3.csv') #save new index

In [58]:
import re

mega = df.loc[df['Name'].str.contains('Mega')]
notmega = df.loc[~df['Name'].str.contains('Mega')]

print(f'data contain mega:\n {mega[:5]}')
print('----------------------------------------------')
print(f'data uncontain mega: \n{notmega[:5]}')

df_regex=df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
print('----------------------------------------------')

print(df_regex)

df_regex2 = df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
print('----------------------------------------------')
print(df_regex2)

data contain mega:
      #                       Name Type 1  Type 2  HP  Attack  Defense  \
3    3      VenusaurMega Venusaur  Grass  Poison  80     100      123
7    6  CharizardMega Charizard X   Fire  Dragon  78     130      111
8    6  CharizardMega Charizard Y   Fire  Flying  78     104       78
12   9    BlastoiseMega Blastoise  Water     NaN  79     103      120
19  15      BeedrillMega Beedrill    Bug  Poison  65     150       40

    Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Total 2
3       122      120     80           1      False    625      625
7       130       85    100           1      False    634      634
8       159      115    100           1      False    634      634
12      135      115     78           1      False    630      630
19       15       80    145           1      False    495      495
----------------------------------------------
data uncontain mega:
   #        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1   Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2     Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3    Venusaur  Grass  Poison  80      82       83      100      100     80
4  4  Charmander   Fire     NaN  39      52       43       60       50     65
5  5  Charmeleon   Fire     NaN  58      64       58       80       65     80

   Generation  Legendary  Total  Total 2
0           1      False    318      318
1           1      False    405      405
2           1      False    525      525
4           1      False    309      309
5           1      False    405      405
----------------------------------------------
       #                   Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0      1              Bulbasaur  Grass  Poison   45      49       49       65
1      2                Ivysaur  Grass  Poison   60      62       63       80
2      3               Venusaur  Grass  Poison   80      82       83      100
3      3  VenusaurMega Venusaur  Grass  Poison   80     100      123      122
4      4             Charmander   Fire     NaN   39      52       43       60
..   ...                    ...    ...     ...  ...     ...      ...      ...
735  667                 Litleo   Fire  Normal   62      50       58       73
736  668                 Pyroar   Fire  Normal   86      68       72      109
740  672                 Skiddo  Grass     NaN   66      65       48       62
741  673                 Gogoat  Grass     NaN  123     100       62       97
799  721              Volcanion   Fire   Water   80     110      120      130

     Sp. Def  Speed  Generation  Legendary  Total  Total 2
0         65     45           1      False    318      318
1         80     60           1      False    405      405
2        100     80           1      False    525      525
3        120     80           1      False    625      625
4         50     65           1      False    309      309
..       ...    ...         ...        ...    ...      ...
735       54     72           6      False    369      369
736       66    106           6      False    507      507
740       57     52           6      False    350      350
741       81     68           6      False    531      531
799       90     70           6       True    600      600

[122 rows x 14 columns]
----------------------------------------------
       #                 Name    Type 1    Type 2   HP  Attack  Defense  \
20    16               Pidgey    Normal    Flying   40      45       40
21    17            Pidgeotto    Normal    Flying   63      60       55
22    18              Pidgeot    Normal    Flying   83      80       75
23    18  PidgeotMega Pidgeot    Normal    Flying   83      80       80
30    25              Pikachu  Electric       NaN   35      55       40
136  127               Pinsir       Bug       NaN   65     125      100
137  127    PinsirMega Pinsir       Bug    Flying   65     155      120
186  172                Pichu  Electric       NaN   20      40       15
219  204               Pineco       Bug       NaN   50      65       90
239  221            Piloswine       Ice    Ground  100     100       80
438  393               Piplup     Water       NaN   53      51       53
558  499              Pignite      Fire  Fighting   90      93       55
578  519               Pidove    Normal    Flying   50      55       50

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Total 2
20        35       35     56           1      False    251      251
21        50       50     71           1      False    349      349
22        70       70    101           1      False    479      479
23       135       80    121           1      False    579      579
30        50       50     90           1      False    320      320
136       55       70     85           1      False    500      500
137       65       90    105           1      False    600      600
186       35       35     60           2      False    205      205
219       35       35     15           2      False    290      290
239       60       60     50           2      False    450      450
438       61       56     40           4      False    314      314
558       70       55     55           5      False    418      418
578       36       30     43           5      False    264      264

conditional changes

In [67]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,TEST VALUE,TEST VALUE,525,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,TEST VALUE,TEST VALUE,625,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,TEST VALUE,TEST VALUE,600,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,TEST VALUE,TEST VALUE,700,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,TEST VALUE,TEST VALUE,600,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,TEST VALUE,TEST VALUE,680,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,TEST VALUE,TEST VALUE,600,600

In [78]:
df.loc[df['Total'] >500, ['Generation', 'Legendary']] = 'TEST VALUE'

c = df.loc[df['Generation']=='TEST VALUE']
print('--------------------------------------------')
c[0:5]

--------------------------------------------

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Total 2
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,TEST VALUE,TEST VALUE,525,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,TEST VALUE,TEST VALUE,625,625
6,6,Charizard,Flamer,Flying,78,84,78,109,85,100,TEST VALUE,TEST VALUE,534,534
7,6,CharizardMega Charizard X,Flamer,Dragon,78,130,111,130,85,100,TEST VALUE,TEST VALUE,634,634
8,6,CharizardMega Charizard Y,Flamer,Flying,78,104,78,159,115,100,TEST VALUE,TEST VALUE,634,634

In [85]:
mod = pd.read_csv('.\saved_data\modified.csv')

mean = df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
summ = df.groupby(['Type 1']).sum()
count = df.groupby(['Type 1']).count()

print(count)

            #  Name  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1
Bug        69    69      52   69      69       69       69       69     69
Dark       31    31      21   31      31       31       31       31     31
Dragon     32    32      21   32      32       32       32       32     32
Electric   44    44      17   44      44       44       44       44     44
Fairy      17    17       2   17      17       17       17       17     17
Fighting   27    27       7   27      27       27       27       27     27
Flamer     52    52      24   52      52       52       52       52     52
Flying      4     4       2    4       4        4        4        4      4
Ghost      32    32      22   32      32       32       32       32     32
Grass      70    70      37   70      70       70       70       70     70
Ground     32    32      19   32      32       32       32       32     32
Ice        24    24      11   24      24       24       24       24     24
Normal     98    98      37   98      98       98       98       98     98
Poison     28    28      13   28      28       28       28       28     28
Psychic    57    57      19   57      57       57       57       57     57
Rock       44    44      35   44      44       44       44       44     44
Steel      27    27      22   27      27       27       27       27     27
Water     112   112      53  112     112      112      112      112    112

          Generation  Legendary  Total  Total 2
Type 1
Bug               69         69     69       69
Dark              31         31     31       31
Dragon            32         32     32       32
Electric          44         44     44       44
Fairy             17         17     17       17
Fighting          27         27     27       27
Flamer            52         52     52       52
Flying             4          4      4        4
Ghost             32         32     32       32
Grass             70         70     70       70
Ground            32         32     32       32
Ice               24         24     24       24
Normal            98         98     98       98
Poison            28         28     28       28
Psychic           57         57     57       57
Rock              44         44     44       44
Steel             27         27     27       27
Water            112        112    112      112

In [87]:
df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

working with large amounts of data

In [ ]:
for df in pd.read_csv('./saved_data/modified.csv', chunksize=5):
    print('chunks df')
    print(df)